{% extends 'base.html' %}
{% block title %}Cambiar contraseña{% endblock title %}
{% block content %}

    <div class="container2">
        <div class="brand-logo-notainicial"></div>
        <div class="brand-title">Cambiar contraseña</div>
        <p>Ingrese su contraseña anterior, por razones de seguridad,
            y luego ingrese su nueva contraseña dos veces para que podamos verificar que la escribió correctamente.</p> 
        <div class="inputs">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-success" type="submit" value="Change my password">
            </form>
        </div>
        <br><a class="a4" href="{% url 'entro' %}" role="button" >Regresar</a></br>
    </div>

{% endblock content %}    