{% extends 'base.html' %}

{% block title %}Buscar Notas{% endblock title %}

{% block content %}
    <div class="container2">
        <div class="brand-title">Química Clínica</div>
        <br>
            {% for Nota in quimica_clinica_list %}
            <div class="card3">
            <div>
                <form action="{% url 'detail_quimica_clinica' %}" method="get">
                    Nss:<br>
                    <input class="button3" type="text" placeholder={{Nota.nss}} name="nss" value="{{Nota.nss}}" aria-label="Search">
                    Folio orden:<br>
                    <input class="button3" type="text" placeholder={{Nota.folio_orden}} name="folio_orden" value="{{Nota.folio_orden}}" aria-label="Search">
                    Determinación:<br>
                    <input class="button3" type="text" placeholder={{Nota.determinacion}} name="determinacion" value="{{Nota.determinacion}}" aria-label="Search">
                        <div>
                            <button style="box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; border-radius: 5px; align-content: center; display: block; margin: auto;" type="submit">Buscar</button>
                        </div>
                </form>
            </div>
        </div>
        <br>
        {% endfor %} 
    </div>
{% endblock content %}