{% extends 'base.html' %}

{% block title %}Buscar Pacientes{% endblock title %}

{% block content %}
    <div class="container2">
        <div class="brand-title">Pacientes Encontrados</div>
        <br>
        <div class="card3">
            {% for Paciente in paciente_list %}
            <div>
                <span class="font-weight-bold"><a class="subtitle" href="{% url 'paciente_detail' Paciente.pk %}">NSS: {{Paciente.nss}}</a></span>
                <p class="text" >Nombre: {{Paciente.nombre_paciente}}</p>
            </div>
        {% endfor %} 
        </div>
        <br><a class="button4" style="text-decoration: none;" href="{% url 'pacientes' %}" role="button">Regresar</a></br>
    </div>
{% endblock content %}